@import 'var.less';
@import 'config-field-var.less';



.config-field-text {
    input {
        display: flex;
        flex: 1;
        // Or flex? either doesn't grow or grow out of bounds at times.
        width: 100%;
    }
}