@import 'var.less';



// Height.
@header-bottom-height: 60px;
@header-bottom-bar-height: 2px;
// Mobile nav menu.
@mobile-nav-menu-inner-width: 130px;
// Must match image file ratio.
@header-banner-logo-width: 240px;
@header-banner-logo-height: 50px;
// Margin
@header-scroll-margin-top-offset: @header-bottom-height + (@padding-column * 2);

