/* Color Branding */
/* Media rules */
.page-injector {
  margin-top: 60px;
  margin-bottom: 30px;
  opacity: 0;
  transition: none;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.page-injector.page-injector-fade-in {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}
.page-injector [data-component="injected-page"] {
  display: flex;
  flex: 1;
  flex-direction: column;
}
