@import 'var.less';



.story-reader-info-panel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    gap: @padding-column * 3;
    padding-bottom: @padding-column * 5;
}