@import 'var.less';


@story-description-height-pc: 400px;
@story-description-height-mobile: auto;

@story-description-side-width-mobile: 500px;

@story-entry-image-height: 600px;
@story-entry-image-width: 400px;

@story-entry-image-height-small: calc(@story-entry-image-height / 2);
@story-entry-image-width-small: calc(@story-entry-image-width / 2);

@story-entry-image-height-tiny: calc(@story-entry-image-height-small / 2);
@story-entry-image-width-tiny: calc(@story-entry-image-width-small / 2);