/* Color Branding */
/* Media rules */
.story-reader-info-panel-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.story-reader-info-panel-info .story-reader-info-panel-info-header.appear-header-size-n {
  font-size: calc(1.2rem * 1.15);
  margin-top: 0;
  margin-bottom: 0;
}
.story-reader-info-panel-info .story-reader-info-panel-info-header.appear-header-size-l {
  font-size: calc(1.2rem * 1.15 * 1.15);
  margin-top: 15px;
  margin-bottom: 15px;
}
.story-reader-info-panel-info .story-reader-info-panel-info-header.appear-header-size-xl {
  font-size: calc(1.2rem * 1.15 * 1.15 * 1.15);
  margin-top: 30px;
  margin-bottom: 0;
  color: #7a2a45;
  border-left: medium solid #4b0019;
  border-right: medium solid #4b0019;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap {
  display: flex;
  gap: 15px;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap .story-reader-info-panel-info-image {
  flex: none;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap .story-reader-info-panel-info-description {
  margin: 0;
  flex: 1;
  max-width: 600px;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap.appear-image-mode-col {
  flex-direction: row;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap.appear-image-mode-col .story-reader-info-panel-info-image {
  width: 100px;
  height: 100px;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap.appear-image-mode-row {
  flex-direction: column;
}
.story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap.appear-image-mode-row .story-reader-info-panel-info-image {
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  .story-reader-info-panel-info .story-reader-info-panel-info-description-and-image-wrap.appear-image-mode-col {
    flex-direction: column;
  }
}
