/* Color Branding */
/* Media rules */
.writer-page-toolbar {
  scroll-margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #25010c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: medium solid #7a2a45;
  border-bottom: medium solid #25010c;
  user-select: none;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap {
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap .button-type-1,
.writer-page-toolbar .writer-page-toolbar-button-wrap .button-type-2 {
  width: 130px;
  text-align: center;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap .button-type-1.disabled,
.writer-page-toolbar .writer-page-toolbar-button-wrap .button-type-2.disabled {
  visibility: hidden;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap .writer-page-toolbar-button {
  display: flex;
  gap: 5px;
  align-items: center;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap .writer-page-toolbar-button:hover {
  cursor: pointer;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap .writer-page-toolbar-go-to-span:hover {
  cursor: help;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap select[name="select-story"],
.writer-page-toolbar .writer-page-toolbar-button-wrap select[name="select-edit-mode"],
.writer-page-toolbar .writer-page-toolbar-button-wrap select[name="select-panel"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: #120006;
  text-align: left;
  width: 100%;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap select[name="select-edit-mode"] {
  width: 130px;
}
.writer-page-toolbar .writer-page-toolbar-button-wrap [name="button-go-to-input"] {
  width: 90px;
}
.writer-page-toolbar.writer-page-toolbar-alt {
  border-top: medium solid #25010c;
  border-bottom: medium solid #000;
  background-color: #120006;
}
.writer-page-toolbar.writer-page-toolbar-alt-2 {
  border-top: none;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.5;
  transition: opacity 0.5s ease-in 0.75s;
}
.writer-page-toolbar.writer-page-toolbar-alt-2:hover {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.1s;
}
