@import 'var.less';



.writer-story-info-panel-field {
    display: flex;
    flex-direction: column;
    gap: @padding-column;
    width: 100%;
    background-color: @color-1-dark;
    padding: @padding-column;
    border-radius: @border-radius-large;
    border-top: thin solid @color-1-light;

    .config-field {
        flex: 1;

        span {
            flex: none;
            // Hardcoded to current span text.
            width: 100px;
        }
    }
}