@import 'var.less';



.writer-story-node-config-panel {
    .config-panel-side {
        .config-field {
            span {
                // Width hardcoded to current content.
                flex: none;
                width: 125px;
            }
        }

        .config-field-textarea {
            textarea {
                // Hardcoded to align in height to config panel to the right.
                min-height: 363px;
                resize: none;
            }
        }
    }
}